@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Fira+Sans:wght@200&family=MuseoModerno:wght@200&family=Poppins:wght@200;400;500;600&display=swap');

:root {
  --dark: #374151;
  --darker: #1F2937;
  --darkest: #111827;
  --grey: #6B7280;
  --pink: #fa1085;
  --purple: #8B5CF6;
  --light: aliceblue;
}

* {
  padding: 0;
  margin: 0;
}

.background {
  position: absolute;
  right: 0%;
  bottom: 0%;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

body {
  background: var(--darkest);
  font-family: 'MuseoModerno,' sans-serif;
  min-height: 100vh;
}

button {
  height: fit-content;
  cursor: pointer;
  color: var(--pink);
  background-color: var(--light);
}

.app {
  width: 700px;
  margin: auto;
  padding-top: 50px;
  color: var(--light);
}

.input-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px 0px 10px 0px;
}

.to-do-input input {
  width: 250px;
  font-family: 'MuseoModerno', sans-serif;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  outline: none;
}

.to-do-input button {
  color: var(--grey);
  font-family: 'MuseoModerno', sans-serif;
  border: none;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.to-do-list i {
  color: var(--grey);
  cursor: pointer;
}

.to-do-list .fa-pen-to-square {
  color: aqua;
}

.to-do-list .fa-check {
  color: aqua;
}

.to-do-list button {
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'MuseoModerno', sans-serif;
  font-weight: 500;
  border: none;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--darkest);
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 2px 4px 0px var(--pink);
}

.input-controller {
  display: flex;
  gap: 10px;
}

.input-controller textarea {
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  line-height: 1.4;
  color: var(--light);
  border-radius: 10px;
  background-color: transparent;
  font-size: 1.2rem;
  font-family: 'Fira Sans', sans-serif;
  transition: all .3s ease-in-out;
}

textarea:focus{
  box-shadow: 0 0 5px var(--light);
}

.edit-controller {
  display: flex;
  gap: 5px;
}

.update-controller {
  display: none;
}

@media(max-width: 768px) {
  .app {
    width: 95%;
    text-align: center;
  }
  .input-header {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .to-do-input {
    display: flex;
  } 
}

#enter {
  color: var(--pink);
}

#enter:hover {
  opacity: .9;
}

#time {
  color: var(--light);
  margin: 0 auto;
  text-align: center;
  font-weight: 800;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  font-family: 'MuseoModerno', sans-serif;
  color: var(--pink);
}

select {
  border: 0 !important;
  background: var(--darkest);
  background-image: none;
  font-size: 1em;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3;
  line-height: 3;
  background: var(--grey);
  overflow: hidden;
  border-radius: .25rem;
}

select {
  flex: 1;
  padding: 0 .5rem;
  color: var(--light);
  cursor: pointer;
}

.select::after {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: var(--darker);
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
}

.select:hover::after {
  color: aqua;
}